<p class="m-0" id="notice"><%= notice %></p>


<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.img_url %>);">
  <div class="container">
    <h1> <%= @garden.name %></h1>
  </div>
</div>
